<body class="error">
<div class="error__push">
    <img class="error__image_408" src="/408.svg">
    <img class="back__image" src="/back.svg">
    <div class="push">
        <h1 class="ErrorAuth__section-title">{{accessError}}</h1>
    </div>
    <p class="error-text__push">Ой, кажется ты попал не туда, для получения доступа к странице тебе необходимо авторизироваться ~</p></div>
<a class="error__link-redirect" href="/auth">Залогиниться  →</a>
</body>