

<div class="login-box">
  <h2>Товар</h2>
<form action="/add/adds" method="post">
    <div class="user-box">
      <input type="text" name="info" required="">
      <label>Название</label>
    </div>
    
    <div class="user-box">
      <input type="number" name="price" required="">
      <label>Цена</label>
    </div>

    <div class="user-box">
      <input type="text" name="img" required="">
      <label>URL-картинки</label>
    </div>
      <button type="submit">
    <span></span>
    <span></span>
    <span></span>
    <span></span>Добавить
      </button>
</form>
</div>