<canvas class="canvas" id="canvas"></canvas>
<p class="center use-the-last">
  Используйте стрелочки: влево, вправо, вверх,
  <br> вниз для передвижения шарика
</p>
<footer>
<script src="/game.js"></script>
</footer>