<div class="openProduct">
<h1 class="product-title">{{product.info}}</h1>
    <img  class="smallImgOpen" src="{{product.img}}" alt="{{product.info}}">
    <p class="price big">{{product.price}}</p>
</div>
